div.parent  {
    margin: auto;
    display:flex;
    justify-content:center;
    min-height: 450px;
    min-width: 850px;
    background-image:url("NASA_Shuttle.jpg");
    background-size: auto;  
    background-repeat: no-repeat;
    font-family: monospace;
    font-size:40pt
}

div.social {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}

h2 {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    grid-template-columns: auto;
    display: flex;
    font-size: 40pt;
}